# Virtual environments
venv/
.env/
.venv/
test_env/
.test_env/
.airflow_env
airflow_env/

# IDE settings
.idea/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Storels

# Project-specific folders
credentials/
tokens/
logs/
data_backup/

# Optional: compiled bytecode, test cache, etc.
*.pyo
*.pyd
*.pdb
.pytest_cache/

